SECRET_KEY=replace-with-a-long-random-secret
FLASK_DEBUG=false
PORT=5001
SESSION_COOKIE_SECURE=false

IMAGE_GENERATION_PROVIDER=mock
DOUBAO_API_KEY=
DOUBAO_API_URL=https://ark.cn-beijing.volces.com/api/v3/images/generations
DOUBAO_MODEL=doubao-seedream-5-0-260128
DOUBAO_INPUT_IMAGE_FORMAT=data_url
DOUBAO_RESPONSE_FORMAT=url
