node_modules
.wrangler
.DS_Store
dist
npm-debug.log*
.env
.dev.vars
.venv
__pycache__
*.pyc
*.db
*.sqlite
*.sqlite3
static/uploads/
static/generated/
**/static/uploads/
**/static/generated/
**/.venv/
**/__pycache__/
